<div>
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <fieldset ngModelGroup="login">
      <mdl-textfield
        type="text"
        label="Username..."
        name="userName"
        floating-label
        required
        [(ngModel)]="userName"
        #usernameRef="ngModel"
      >
      </mdl-textfield>
      <div *ngIf="auth?.hasError">
        {{auth?.errMsg}}
      </div>
      <mdl-textfield
        type="password"
        label="Password..."
        name="userPassword"
        floating-label
        required
        [(ngModel)]="userPassword"
        #passwordRef="ngModel">
      </mdl-textfield>
      <button
        mdl-button mdl-button-type="raised"
        mdl-colored="primary"
        mdl-ripple type="submit">
        Login
      </button>
    </fieldset>
  </form>
</div>
